<h1>Tu stages où ?</h1>

<button id="open-form">+</button>

<%= form_for @user, url: '#' do |f| %>
  <div>
    <%= f.text_field :email, placeholder: "jean.dupont", class: "half-control" %>
    <small>@telecom-paristech.fr</small>
  </div>
  <div>
    <%= f.text_field :company, placeholder: "Google" %>
  </div>
  <div>
    <%= f.text_field :city, placeholder: "Montain View" %>
  </div>
  <div>
    <%= f.text_field :country, placeholder: "USA" %>
  </div>
  <div>
    <%= f.submit 'Envoyer' %>
  </div>
<% end %>

<footer class="leaflet-control-attribution">Made with love in 802 - <a href="#">Fork me on GitHub</a></footer>


<div id="map">
  <%= map center: { latlng: [30, 0], zoom: 3 } %>
</div>