<h1>Tu stages où ?</h1>

<button id="open-form">+</button>

<%= form_for @user, remote: true do |f| %>
  <div>
    <%= f.text_field :email, placeholder: "jean.dupont", class: "half-control" %>
    <small>@telecom-paristech.fr</small>
  </div>
  <div>
    <%= f.text_field :company, placeholder: "Google" %>
  </div>
  <div>
    <%= f.text_field :city, placeholder: "Montain View" %>
  </div>
  <div>
    <%= f.text_field :country, placeholder: "USA" %>
  </div>
  <div>
    <%= f.submit 'Envoyer' %>
  </div>
<% end %>

<footer class="leaflet-control-attribution">Made with love in 802 - <a href="#">Fork me on GitHub</a></footer>


<div id="map"></div>



<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />

<script type="text/javascript">
  var map = L.mapbox.map('map', 'allegrem.ifmbko0h').setView([30,0], 3);
  var myLayer = L.mapbox.featureLayer().addTo(map);
  var geojson = { type: 'FeatureCollection', features: [<%=raw @users.map(&:to_geojson).join(',') %>] };
  myLayer.setGeoJSON(geojson);
  myLayer.on('mouseover', function(e) { e.layer.openPopup(); });
  myLayer.on('mouseout', function(e) { e.layer.closePopup(); });
</script>