<h1>Tu stages où ?</h1>

<input type="text" id="searchForm" placeholder="Tape le nom d'un ami pour le retrouver" />
<div id="userList">
  <div class="moreResults"><output></output> résultat(s) supplémentaire(s)</div>
</div>

<button id="open-form">+</button>

<%= form_for @user, remote: true do |f| %>
  <div>
    <%= f.text_field :email, placeholder: "jean.dupont", class: "half-control" %>
    <small>@telecom-paristech.fr</small>
  </div>
  <div>
    <%= f.text_field :company, placeholder: "Google" %>
  </div>
  <div>
    <%= f.text_field :city, placeholder: "1600 Amphitheatre Pkwy, Mountain View" %>
  </div>
  <div>
    <%= f.text_field :country, placeholder: "USA" %>
  </div>
  <div>
    <%= f.hidden_field :coordinates %>
  </div>
  <div>
    <%= f.submit 'Envoyer' %>
  </div>
  <div class="errors"></div>
<% end %>

<footer class="leaflet-control-attribution">Made with love in 802 - <a href="https://github.com/allegrem/tu-stages-ou">Fork me on GitHub</a></footer>


<div id="map"></div>

<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />